<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>japanese</key>
	<string>日式</string>
	<key>kora</key>
	<string>韩式</string>
	<key>mashup</key>
	<string>混搭</string>
    <key>european</key>
	<string>欧式</string>
    <key>chinese</key>
	<string>中式</string>
    <key>newClassical</key>
	<string>新古典</string>
    <key>eastSourthAsia</key>
	<string>东南亚</string>
    <key>america</key>
	<string>美式</string>
    <key>countryside</key>
	<string>田园</string>
    <key>mediterranean</key>
	<string>地中海</string>
    <key>modern</key>
	<string>现代</string>
    <key>other</key>
	<string>其他</string>
</dict>
</plist>
